html, body {
  height: 100%; /* Garante que o body e html ocupem 100% da altura */
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  background-image: url("imag/raposa_pequeno_principe.jpeg"); /* fundo base */
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Garante altura total da tela */
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed; /*importante para cobrir toda a tela mesmo com scroll */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url("imag/background_preto.jpg"); /* imagem sobreposta */
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  z-index: 0;
  pointer-events: none;
}

* {
  position: relative;
  z-index: 1;
}


/*-------------------------------------------------------------------------------------*/
/*Texto dos cantos superiores*/
ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding: 16px;
}

a {
  color: #333;
  text-decoration: none;
}
/*Texto dos cantos superiores*/
/*-------------------------------------------------------------------------------------*/


header img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #333;
}

/*-------------------------------------------------------------------------------------*/
/*Para centralizar o texto do meio*/
.center {
  text-align: center;
}

.conteudo-centralizado {
  text-align: center; /* Centraliza texto, imagem e emojis */
  margin-top: 50px;
}

.title {
  font-size: 2em;
  color: white;
}

.heart-decoration {
  font-size: 2em;
  margin-top: 10px;
}
/*Para centralizar o texto do meio*/
/*-------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------*/
/*Texto RAPOSA centro*/
.raposa {
  color: white;
  text-align: center;        /* Centraliza tudo dentro da section */
  margin-top: 50px;          /* Empurra a section pra baixo */
}

.raposa h3 {
  margin-bottom: 5px;        /* Diminui o espaço entre o título e o parágrafo */
}

.raposa p {
  margin-top: 0;             /* Remove espaço extra acima do parágrafo */
}
/*Texto Sobre mim no centro*/
/*-------------------------------------------------------------------------------------*/